.container {
  background-color: #fc4444e0;
}

.inner_container {
  color: rgba(255, 254, 254, 0.938);
  display: flex;
  width: 30%;
  margin: auto;
  font-weight: 500;
  justify-content: space-between;
}

.navbar_component {
  cursor: pointer;
}
