.container {
  display: flex;
  margin: auto;
  place-content: center;
  text-align: center;
}

.header {
  display: flex;
  width: 60vw;
  background: #fc4444e0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-top: 20px;
  font-weight: 500;
  text-align: left;
  color: rgb(255, 255, 255);
}

.header_name {
  width: 30%;
  margin-left: 20px;
}

.header_ph {
  width: 25%;
  margin-left: 20px;
}

.header_mail {
  width: 30%;
  margin-left: 20px;
}

.header_action {
  width: 15%;
  margin-left: 20px;
}

.button {
  background: #fc4445;
  color: rgb(243, 243, 243);
  width: 180px;
  margin: 10px 40px 10px 40px;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.button:hover {
  background: #d63939;
}

@media only screen and (max-width: 940px) {
  .header {
    width: 95vw;
  }
  .header_name {
    width: 25%;
  }
  .header_ph {
    width: 25%;
  }
  .header_mail {
    width: 25%;
  }
  .header_action {
    width: 25%;
  }
}
